<body>

<title>Victoria Clark</title>
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
<div class="navheader">
    <a class="title" href="/">&nbsp;&nbsp;Victoria Clark</a>
  
            <a class="nav-link" href="/about">About</a>
            <a class="nav-link" href="/">Projects</a>
            <a class="nav-link" href="/resume">Resume</a>
            <a class="nav-link" href="/contact">Contact</a>
    
    </div>
</body>
