$font-stack: Inter, sans-serif;
$primary-color: #201E1F;
$background: linear-gradient(180deg, #faf9f7 0%, #FFF0DD 100%);
$accent-color: #104F55;
$big-text: Lato, sans-serif;
$biggest-text: Cal Sans, sans-serif;

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;

}

header {
  position: sticky;
  top: 0;
  background: #faf9f7;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

header.hidden {
  transform: translateY(-100%);
}


h1, h2, h3, h4, h5, h6 {
  font-family: $big-text;
  color: $primary-color;
}

body {
  font: 17px $font-stack;
  color: $primary-color;
  line-height: 1.6;
  background: $background;
}

p {
  margin-bottom: 1rem;
}

a {
  color: $accent-color;
  text-decoration: none;
}
.banner {
  //margin-top: 60px;
  width: 100%;
  text-align: center;
  font: 60px $biggest-text;
  color: $primary-color;
}

.nav {
  width: 100%;
  font: 20px $big-text;
  text-align: center;
  word-spacing: 6em;
}

.nav a {
  transition: color .2s ease, border-color .2s ease;
}

.nav a:hover {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);

}

.posts {
  max-width: 760px;
  margin: 2rem auto;
  background: rgba(255,255,255,.6);
  backdrop-filter: blur(12px);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);

}


.blurb {
  margin-bottom: 3%;
  font-family: $biggest-text;
  color: $primary-color;
}