body {
    font: 15px 'Assistant', sans-serif;
    color:#000000;
	background-color: #ffffff;
}

.navheader {
	  overflow: hidden;
	  position: fixed; /* Set the navbar to fixed position */
  top: 0px; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
	height: 200px;
	background-color: white;
	
}

.navheader2 {
		text-align: center;
	margin-top: 100px;
}

a.title, a.title:visited, a.title:hover {
    color: #000000;
    font: 53px 'Dosis', sans-serif;
    font-weight:  700;
	text-decoration: none;
	  letter-spacing: 2.5px;


}

p .post-meta {

}

.post-content {
    display: block;
    margin-top: 200px;
    width: 50vw;
    margin-right: 25%;
    margin-left: 25%;
}

.post-content2 {

}


a {
    color: #000000;
    font-size: 15px;
}

a:visited {


}

a:hover {

    text-decoration: underline;


}



p {

  font: 15px 'Assistant', sans-serif;


}


h1 {

}

h2 {
  

}


li {


  line-height: 2;
 }


.nav-link, .nav-link:visited {

letter-spacing: 1.5px;


}
.nav-link:hover
{

}

.page-link, .page-link:visited{

    }

.page-link:hover{
}



.post-list-heading{
}
.post-list{
    margin-left:0;
    list-style:none;
}

.post-meta {

    }
.post-link{

}
.post-header{
}
.post-title{

}


.post-content h2{
}

.post-content h3{
}

.post-content h4{
}
.post-list {
  padding: 0px 0px 0px 0px;

}
.post-title {


}
.post-header{

}
