<!DOCTYPE html>
<body>

<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="/assets/style2.css">
<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Della+Respira&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    {% include head.html %}

<div class="navheader">
  <a class="title" href="/">Victoria Clark</a>
            <a class="nav-link" href="/about">About</a>
            <a class="nav-link" href="/">Projects</a>
            <a class="nav-link" href="/resume">Resume</a>
            <a class="nav-link" href="/contact">Contact</a>
  </div>
  
    <main class="page-content" aria-label="Content">

        {{ content }}
  
    </main>
  </body>
