<!DOCTYPE html>
<head>
  <title>Victoria Clark</title>
</head>
<body>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="/assets/style2.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet"><html lang="{{ page.lang | default: site.lang | default: "en" }}">
<div class="navheader">
  <div class="navheader2">
  <a class="title" href="/">Victoria Clark</a>
  <br><div class="navlinks">
            <a class="nav-link" href="/about">About</a>&nbsp;&nbsp;&nbsp;
            <a class="nav-link" href="/">Projects</a>&nbsp;&nbsp;&nbsp;
            <a class="nav-link" href="/resume">Resume</a>&nbsp;&nbsp;&nbsp;
            <a class="nav-link" href="/contact">Contact</a>
    </div>
  </div>
  </div>
  
    <main class="page-content" aria-label="Content">

        {{ content }}
  
    </main>
  </body>
