<!DOCTYPE html>
<head>
  <title>Project Resources</title>
</head>
<body>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="/assets/style2.css">
<link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  
    <main class="page-content" aria-label="Content">

        {{ content }}
  
    </main>
  </body>
