<!DOCTYPE html>
<head>
  <title>Project Resources</title>
</head>
<body>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="/assets/style3.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
      <div class="sidenav">
        <a href="#section-1">Boarding School Initiatives</a>
        <a href="#section-2">Digitized Boarding School Sources</a>
        <a href="#section-3">Projects On the Horizon</a>
        <a href="#section-4">Tribal Resources</a>
        <a href="#section-5">Bibliography</a>
    </div>
    <main class="page-content" aria-label="Content">

        {{ content }}
  
    </main>
  </body>
