---
layout: standalone2
---
<body>
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <h1>{{ page.title | escape }}</h1>
      {% if page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  <div class="post-content2" itemprop="articleBody">
    {{ content }}
  
    </div>

</article>
</body>
